/* body CSS */
body
{
    margin: 0;
}

/* --------------------------------------------------------------------------------------------- */
/* Header CSS logo, links */
.header
{
    display: flex;
    justify-content: space-between;
    background-color:#1F2937;
    padding: 20px;
}

.logo
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

ul
{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* --------------------------------------------------------------------------------------------- */
/* Top Page CSS  */
.top-content
{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px;
}

.title
{
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    width: 400px;
    margin-bottom: 0;
}

.subtext
{
 font-size: 18px;
 color: #E5E7EB;
 width: 500px;
 margin-top: 0;
 font-style: normal;
}

/* --------------------------------------------------------------------------------------------- */
/* Middle Page CSS */

.middle-content
{
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 30px;
}

.info
{
    text-align: center;
}

.heading
{   
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.text 
{
    font-family: 'Roboto', sans-serif;
    color: grey;

}
/* --------------------------------------------------------------------------------------------- */
/* Lower Page CSS */
.lower-content
{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 90px;
    text-align: start;
}

p
{
    font-size: 36px;
    color: #1F2937;
    font-family: sans-serif;
    font-style: italic;
}

.author
{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: end;
}
/* --------------------------------------------------------------------------------------------- */
/* Bottom Page CSS */
.bottom-content
{
    background-color: white;
}

.announcement
{
    background-color:#3882F6;
}


/* --------------------------------------------------------------------------------------------- */
/* Footer CSS */
.footer
{
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

button
{
    background-color:  #3882F6 ;
    color: white;
    border-radius: 4px;
    padding: 10px 35px;
}